<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Calory Sample Project</a>

  <div class="collapse navbar-collapse" *ngIf="!userService.getCurrentUser()">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>

  <div
    class="collapse navbar-collapse"
    *ngIf="userService.getCurrentUser() as user"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Personal Dashboard</a>
      </li>
      <li *ngIf="user.tokenDecoded.role === 'admin'" class="nav-item">
        <a class="nav-link" routerLink="/admin/reporting">Admin Reporting</a>
      </li>
    </ul>

    <div class="ml-auto d-flex align-items-center">
      <div class="mr-3">
        <i>{{ user.tokenDecoded.id }}</i
        >: {{ user.tokenDecoded.name }}
      </div>
      <button
        class="btn btn-outline-danger btn-sm"
        (click)="userService.logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
