<div class="container mt-5">
  <h2>Dashboard</h2>
  <h3>Add new entry</h3>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="foodForm" (ngSubmit)="onAddFood()">
        <div class="input-group">
          <span class="input-group-text" for="name">Food Name</span>
          <input type="text" id="name" formControlName="name" class="form-control"
            placeholder="milk, banana, hamburger" />
        </div>
        <div class="input-group">
          <span class="input-group-text" for="calories">Calories</span>
          <input type="number" id="calories" formControlName="calories" class="form-control"
            placeholder="Enter calories" />
        </div>
        <div class="input-group">
          <span class="input-group-text" for="date">Date</span>
          <input type="date" id="date" formControlName="date" class="form-control" />
        </div>
        <div class="input-group align-items-center">
          <span class="input-group-text" for="cheating">Cheating</span>
          <div class="form-check ml-2"></div>
          <input type="checkbox" id="cheating" formControlName="cheating" class="form-check-input"
            style="width: 30px; height: 30px;" />
        </div>
        <div class="form-group align-self-end">
          <button type="submit" class="btn btn-success w-100">Add</button>
        </div>
      </form>
    </div>
  </div>

  <h3 class="mt-4">Recap per days</h3>
  <form [formGroup]="filterForm">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-text" for="from">From</span>
          <input type="date" class="form-control" id="from" placeholder="From" aria-label="From" aria-describedby="from"
            formControlName="from" format="yyyy-mm-dd" (change)="applyFilter()">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-text" for="to">To</span>
          <input type="date" class="form-control" id="to" placeholder="To" aria-label="To" aria-describedby="to"
            formControlName="to" format="yyyy-mm-dd" (change)="applyFilter()">
        </div>
      </div>
    </div>
  </form>

  <div class="mt-4" *ngIf="user">
    <h4>Calories</h4>
    <div class="form-group row">
      <div class="col-md-3">
        <div class="input-group ">
          <span class="input-group-text" for="threshold">Daily threshold</span>
          <input type="number" id="threshold" [(ngModel)]="user.settings.caloryThreshold" class="form-control"
            (change)="updateThreshold()" />
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Calories</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of caloriesPerDay">
          <td>{{ entry.date | date:'dd/MM/yyyy' }}</td>
          <td class="display-6"
            [ngClass]="{'text-danger': entry.calories > user.settings.caloryThreshold, 'text-success': entry.calories <= user.settings.caloryThreshold}">
            {{ entry.calories }}
          </td>
          <td>
            <button class="btn btn-secondary" (click)="setDateFilterToDay(entry.date)">
              Day details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-4">
    <h4>Entries</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Food Name</th>
          <th>Calories</th>
          <th>Cheating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foodListFiltered">
          <td>{{ food.timestamp | date:'dd/MM/yyyy' }}</td>
          <td>{{ food.name }}</td>
          <td>{{ food.calories }}</td>
          <td [ngClass]="{'text-danger': food.cheating}">{{ food.cheating ? "Cheating" : "" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>